<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>社群媒體評論研究</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- SimpleLightbox plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-7 align-self-end">
            <h1 class="text-black font-weight-bold">社群媒體評論研究</h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-7 align-self-baseline">
            <p class="text-black-50 mb-5 text-start">
              您好：<br />
              感謝您於百忙之中撥冗填答本問卷。這份問卷的目的在深入了解「社群媒體上的評論」，本問卷會以
              Facebook
              作為研究的社群媒體平台。填寫此問卷只需約5分鐘的時間，您的參與對本研究意義重大，我們將會對受訪者回答保密。在此由衷感謝您對本研究大力支持與幫助，謝謝您！<br />
            </p>
            <p class="text-black-50 mb-5 text-start">敬祝 身體健康 萬事如意</p>
            <p class="text-black-50 mb-5 text-start">
              國立台灣大學 資訊管理學系暨研究所指導教授：吳玲玲 博士<br />
              碩士研究生：李名涵 <br />
              聯絡電話：0988861220<br />
              電子信箱：r11725045@ntu.edu.tw
            </p>
            <a class="btn btn-secondary btn-sm mb-5" href="/start">
              開始填寫
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
